<!DOCTYPE html>
<html>
<head>
    <title>Login - Campus Issue Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>OT Track – Campus Issue Tracker</h1>
        <nav>
            <% if (!session.userId) { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } else { %>
                <a href="/">Home</a>
                <a href="/logout">Logout</a>
            <% } %>
        </nav>
    </header>

    <main>
        <h2>Login</h2>

        <form method="POST" action="/login" class="auth-form">
            <label>Username</label>
            <input name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
